{% extends 'base.html.twig' %}

{% block body %}
    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-9 marge-sm">

                <div class="thumbnail">
                    <img class="img-responsive" src="{{ asset('img/'~product.img) }}" alt="">

                    <div class="caption-full">
                        <h4 class="pull-right">{{ product.price }} €</h4>
                        <h4><a href="#">{{ product.name }}</a>
                        </h4>



                        <p>{{ product.description }}</p>
                        <p>poids : {{ product.weight }} g</p>
                    </div>
                </div>

            </div>

        </div>

    </div>
    <!-- /.container -->
{% endblock %}

